{% extends 'main.html' %}
{% block title %}
Мобильный Кванториум
{% endblock title %}
{% block body %}
{% block bodycolor %}<body style="background: #F8EEE6;"></body> {% endblock %}
<div class="container">
    <article class="post">
        <div class="post-content">
        <div class="post-image" align="center">
            <img  src="/static/img/component(3).png">
        </div>
        <div class="post-image" align="center">
            <img class='bus' src="/static/img/Group19.png">
        </div>
    </article>
    <article class="post">
        <div class="post-content">
            <h2 class="post-title" align="center" style="padding-top: 1.5vw;">Занятия по всей области</h2>
            <div class="post-image" align="center" style="width: 1.5vw; position: absolute; margin-left: 3vw; transform: rotate(-120deg); margin-top: 5vw;">
                <img class='animrev-img' src="/static/img/component(36).png">
            </div>
                <div class="post-image" align="center" style="width: 1.5vw; position: absolute; margin-left: 5vw; ">
                    <img class='anim-img' src="/static/img/component(37).png">
                </div>
                <div class="post-image" align="center" style="width: 2vw; position: absolute; margin-top: 8vw; margin-left: 80vw; ">
                    <img src="/static/img/component(21).png">
                </div>
                <div class="post-image" align="center" style="width: 2vw; position: absolute; margin-top: 9vw; margin-left: 81vw; ">
                    <img src="/static/img/component(22).png">  
                </div>
                <div class="post-image" align="center" style="width: 3vw; position: absolute; margin-top: 35vw; ">
                    <img class='anim-img' src="/static/img/component(18).png">
                </div>
                <div class="post-image" align="center" style="width: 15vw; position: absolute; margin-left: 70vw; margin-top: 38vw;">
                    <img src="/static/img/component(24).png">
                </div>
                <div class="post-image" align="center" style="width: 3vw; position: absolute; margin-left: 45vw; margin-top: 38vw;">
                    <img class='animrev-img' src="/static/img/component(25).png">
                </div>
                <div class="post-image" align="center">
                    <img src="/static/img/Group25.png">
                </div>
        </article>
    <article class="post">
        <div class="post-content">
        <h2 class="post-title" align="center" style="padding-top: 5.5vw;">Направления МК</h2>
        <div class="post-image" align="center">
            <img src="/static/img/Сним242ок1.png">
        </div>
        <div class="post-image" align="center" style="width: 2vw; position: absolute; margin-top: 16vw; margin-left: 70vw; ">
            <img src="/static/img/component(21).png">
        </div>
        <div class="post-image" align="center" style="width: 2vw; position: absolute; margin-top: 17vw; margin-left: 71vw; ">
            <img src="/static/img/component(22).png">
        </div>
        <div class="post-image" align="center" style="width: 2vw; position: absolute; margin-top: 8vw; margin-left: 8vw; ">
            <img src="/static/img/component(28).png">
        </div>
        <div class="post-image" align="center" style="width: 1.5vw; position: absolute; margin-top: 7vw; margin-left: 5vw; ">
            <img src="/static/img/component(29).png">
        </div>
        <div class="post-image" align="center" style="width: 2vw; position: absolute; margin-top: 19vw; margin-left: 80vw; ">
            <img class='anim-img' src="/static/img/component(26).png">
        </div>
    </article>
    <article class="post">
        <div class="post-content">
        <h2 class="post-title-y" align="center" style="padding-top: 5vw;"><img style="width:50%; margin-left:20vw; margin-top:2.5vw;" src="/static/img/Zan.png"></h2>
    </article>
<div class="col-md-4" style="margin-top: 6vw;">
    <img class="act-img" src='/static/img/example1.jpg'>
</div>
<div class="col-md-4" style="margin-top: 6vw;">
    <img class="act-img"   src='/static/img/example2.jpg'> 		
</div>
<div class="col-md-4" style="margin-top: 6vw;">
    <img class="act-img"  src='/static/img/example3.jpg'>
</div>
<div class="col-md-4" style="margin-top: 6vw;">
    <img class="act-img"   src='/static/img/example4.jpg'>
</div>
<div class="col-md-4" style="margin-top: 6vw;">
    <img class="act-img"   src='/static/img/example5.jpg'>
</div>
<div class="col-md-4" style="margin-top: 6vw;">
    <img class="act-img"  src='/static/img/example6.jpg'>
</div>
</div>


<article class="post" >
    <div class="post-content">
    <div class="post-image" align="center" style="width: 15vw; position: absolute;"><img src="/static/img/component(27).png"></div>
    <div class="post-image" align="center" style="width: 4vw; position: absolute; margin-left: 85vw; "><img class='animrev-img' src="/static/img/component(30).png"></div>
    <h2 class="post-title" style="margin: 70px;" text-align="center; "><img src='/static/img/Svu.png' style="width:50%; margin-left:23vw;"></h2>    
</article>
<div class='soc1'>
    <a href='https://www.instagram.com/kvantorium39/' target='_blank' title='Instagram'>
        <img src="/static/img/inst.PNG">
    </a>
</div>
<div class='soc2'>
    <a href='https://vk.com/kvantorium39' target='_blank' title='VK' >
        <img src="/static/img/vk.png">
    </a>
</div>
<div class='soc3'>
    <a href='https://www.facebook.com/groups/855758427897482/' target='_blank' title='Facebook'>
        <img src="/static/img/vsby.PNG">
    </a>
</div>
<div class="col-md-offset-4 col-md-4">
    <form action="{{ url_for('index')}}" method='POST'>
        {% for field in e_form %}
        <div class='form_group'>
            {{ field.label(class='control-label')}}
            {{ field(class='form-control') }}
        </div>
        {% endfor %}
        <div align="center">
            <button style="background: #FF5A00; color: #fff; border-radius: 20px; width: 300px; height: 50px; font-size: 20px; margin-top: 20px; margin-left: 0.5vw;" type='submit'>Связаться с нами</button>
        </div>
    </form>
</div>

<div align='center' style="width: 10vw; height: 1vw; position: absolute; margin-left: 3vw;">
    <img class='rocket' src="/static/img/Group 36.png">
</div>
<div class="col-md-4">
    <p class="card-text" style=" margin-left: vw; font-size: 2vw; font-family: Segoe UI; text-align: center;">Email:</p>	
    <p class="card-text" style="text-align: center; margin-left: vw; font-size: 1.5vw;"><a href='mailto:klgdkvantorium@gmail.com?subject=Кванториум' style='text-decoration: none;'>klgdkvantorium@gmail.com</a></p>
    <div class="d-flex justify-content-between align-items-center">
    </div>
</div>
<div class="col-md-4">
    <p class="card-text" style=" margin-left: vw; font-size: 2vw; font-family: Segoe UI; text-align: center;">Наш адрес:</p>
    <p class="card-text" style="text-align: center; margin-left: vw; font-size: 1.5vw;"><a href='https://2gis.ru/kaliningrad/firm/70000001007277133?m=20.491081%2C54.736049%2F16' style='text-decoration: none;'  target='_blank'>ул.Гайдара, 6, Калининград</a></p>  
</div>
<div class="col-md-4">
    <p class="card-text" style=" margin-left: vw; font-size: 2vw; font-family: Segoe UI; text-align: center;">Номер телефона:</p>
    <p class="card-text" style="text-align: center; margin-left: vw; font-size: 1.5vw;"><a href="tel:+7 (4012) 31-33-03" style='text-decoration: none;'>+7 (4012) 31-33-03</a></p>
</div>
{% endblock body %}