{% extends "main.html" %}
{% block title %} IT-Квантум {% endblock title %}
{% block body %}
		<div class="container">
		<article id="post-2" class="post">
			<div class="post-content">
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 3vw; position: absolute; margin-left: 3vw;margin-top: 3vw;"><a><img src=""></a></div>
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 5vw; position: absolute; margin-left: 55vw; "><a> <img class="animrev-img" src="/static/img/component(30).png"></a></div>
			<h2 class="post-title" align="center" style="z-index: 5; user-select: none; padding-top: 6vw;">IT</h2>
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 2.5vw; position: absolute; margin-top: 32vw; margin-left: 85vw; "><a> <img src="/static/img/component(20).png"></a></div>
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 2.5vw; position: absolute; margin-top: 30vw; margin-left: 86vw; "><a> <img src="/static/img/component(36).png"></a></div>
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 3vw; position: absolute; margin-left: 3vw; transform: rotate(-120deg); margin-top: 3vw;"><a><img class='animrev-img' src="/static/img/component(36).png"></a></div>
		
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 3vw; position: absolute; margin-left: 5vw; "><a> <img class='anim-img' src="/static/img/component(37).png"></a></div>
		
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 2vw; position: absolute; margin-top: 8vw; margin-left: 80vw; "><a> <img src="/static/img/component(21).png"></a></div>
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 2vw; position: absolute; margin-top: 9vw; margin-left: 81vw; "><a> <img src="/static/img/component(22).png"></a></div>
		
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 3vw; position: absolute; margin-top: 35vw; "><a> <img src="/static/img/component(18).png"></a></div>			
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 20vw; position: absolute; margin-left: 60vw; margin-top: 45vw;"><a><img src="/static/img/component(24).png"></a></div>
		<div class="post-image" align="center" style="z-index: 5; user-select: none; width: 4vw; position: absolute; margin-left: 25vw; margin-top: 45vw;"><a><img src="/static/img/component(25).png"></a></div>
		</article>
</div>




<div class="page">
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title" style="font-family: Segoe UI;">Чем занимаются в IT-Квантум?</h2>
            </div>

            <div class="wedo">
                <div class="wedo__item">
                    <img class="wedo__img" src="/static/img/89a77ed0.jpg" alt="">
                </div>

                <div class="wedo__item">

                    <div class="accordion">
                        <div class="accordion__item active" data-collapse="#wedo_1">
                            <div class="accordion__header">
                                <div class="accordion__title">IT-квантум</div>
                            </div>
                            <div class="accordion__content" id="wedo_1">
                                <p>Углубленное изучение программирования, сетевых технологий. Освоение высокоуровневых языков программирования: C++, C#, Java, Arduino, Rasberry Pi и Интернет Вещей (IoT).</p>
                            </div>
                        </div>

                        <div class="accordion__item " data-collapse="#wedo_2">
                            <div class="accordion__header">
                                <div class="accordion__title">О квантуме</div>
                            </div>
                            <div class="accordion__content" id="wedo_2">
                                <p>Информационные технологии призваны, основываясь и рационально используя современные достижения в области компьютерной техники и иных высоких технологий, новейших средств коммуникации, программного обеспечения и практического опыта, решать задачи по эффективной организации информационного процесса для снижения затрат времени, труда, энергии и материальных ресурсов во всех сферах человеческой жизни и современного общества. </p>
                            </div>
                        </div>
						
						<div class="accordion__item " data-collapse="#wedo_3">
                            <div class="accordion__header">
                                <div class="accordion__title">Чему мы научим</div>
                            </div>
                            <div class="accordion__content" id="wedo_2">
                                <p> Базовым навыками программирования C++, языку программирования микроконтроллеров Arduino основанный на C/C++ и среды разработки Arduino (основана на среде Processing). <br> Знакомство и освоение FutureSkills по направлению Интернет-вещей (Internet Of Things). Созданию, разработке и управлению интернет-вещей через интернет.</p>
                            </div>
                        </div>

                        <div class="accordion__item" data-collapse="#wedo_4">
                            <div class="accordion__header">
                                <div class="accordion__title">Проекты</div>
                            </div>
                            <div class="accordion__content" id="wedo_3">
                                <p>В рамках программы разрабатываются и реализуются творческие проекты по созданию мобильных приложений, систем автоматического управления, «Интернета вещей», подготовка команд школьников и студентов к всероссийским конкурсам по программированию и чемпионату «Молодые профессионалы» JuniorSkills по компетенциям «Системное администрирование», «Интернет вещей», «Программирование».</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

 <div class="section  section--gray2">
        <div class="container">
            <div class="reviews">
                <div data-slider>
                    <div>
                        <div class="reviews__item">
                            <img class="reviews__photo"src="/static/img/653646.png" alt="">
							<div class="reviews__author">Педагог по направлению IT</div>
							<div class="reviews__author">Тепляков Александр Сергеевич</div>
                            <div class="reviews__text">Александр точно уверен, что следует с малых лет прививать ребёнку любовь к техническим профессиям, ведь будущее за ними. Он точно знает, что в детском технопарке «Кванториум» можно обучиться основам робототехники, программирования и не только. Ведь основная цель – заинтересовать ребёнка в сфере современных технологий, что поможет реализовать себя в будущем.<br>"«Считаю, что в настоящее время всё вокруг автоматизируется»"</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<article id="post-4" class="post">
			<div class="post-content">
  			<p style="margin-bottom: 0px; font-size: 2vw; font-family: Segoe UI; src: url(6445.ttf); text-align: center;">Ознакомиться с программами обучения можно по <a href="">ссылке</a>.</p>
	</article>
{% endblock body %}